{% extends 'plant.html' %}

{% block title %}
{% if form.instance.pk %}Editar Departamento{% else %}Crear Departamento{% endif %}
{% endblock %}
{% block content %}
    <h1 class="mb-4">
    {% if form.instance.pk %}Editar Departamento{% else %}Crear Departamento{% endif %}
    </h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'departamento_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}